data_preprocessing/humanml3d/data/
data_preprocessing/humanml3d/body_models/
data_preprocessing/grab_preprocessing/body_models/
data_preprocessing/grab_preprocessing/data/


*.pyc
*.DS_Store
*.zip

__pycache__/
__MACOSX/
HOI-Diff/dataset/behave_t2m/
HOI-Diff/dataset/behave_t2m_original/
HOI-Diff/dataset/grab_t2m_standard/
HOI-Diff/dataset/grab_t2m_hands_6d_pca/
glove/
kit/
t2m/
save/
HOI-Diff/body_models/


*.pyc
*.pt
.DS_Store
._.DS_Store
*.mp4
*.log
